<app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
<app-sidebar [isOpen]="isSidebarOpen"></app-sidebar>
<div class="content" [ngClass]="{ 'full-width': !isSidebarOpen }">
   <div style="margin-top: 5%; margin-bottom: 5%;" class="container">
        <!-- Dropdown for selecting module -->
        <div class="form-group">
            <label for="moduleSelect">Select Module</label>
            <select class="custom-input" id="moduleSelect" [(ngModel)]="selectedModule">
                <option value="" disabled>Select a Module</option>
                <option *ngFor="let module of modules" [value]="module">{{module}}</option>
            </select>
        </div>

        <!-- Conditionally display the form based on the selected module -->
        <div *ngIf="selectedModule === 'Content Tracker'" class="container card-margin">
            <div class="card shadow">
                <div class="heading-card">
                    <label>Content Tracker</label>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Task Name:</label>
                            <input type="text" class="custom-input" placeholder="Enter quantity" />
                        </div>
                        <div class="col-md-6">
                            <label>Task Quantity:</label>
                            <input type="number" class="custom-input" placeholder="Enter quantity" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Task Quality:</label>
                            <input type="text" class="custom-input" placeholder="Enter quality" />
                        </div>
                        <div class="col-md-6">
                            <label>Start Date:</label>
                            <input type="date" class="custom-input" [(ngModel)]="startDate" name="startDate"
                                (change)="updateEndDateLimit()" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>End Date <span style="font-size: 10px;color: red;">(End date cannot be before start
                                    date)</span> :</label>
                            <input type="date" class="custom-input" [(ngModel)]="endDate" name="endDate"
                                [min]="minEndDate" (change)="calculateNumberOfDays()" />
                        </div>
                        <div class="col-md-6">
                            <label>Number of Dates:</label>
                            <input type="text" class="custom-input" [(ngModel)]="numberOfDaysText"
                                name="numberOfDaysText" readonly />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Assigned By:</label>
                            <input type="text" class="custom-input" placeholder="Enter name" />
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <button class="submit-btn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create</button>
                </div>
            </div>
        </div>

        <div *ngIf="selectedModule === 'Collateral Tracker'" class="container card-margin">
            <div class="card shadow">
                <div class="heading-card">
                    <label>Collateral Tracker</label>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Task Name:</label>
                            <input type="text" class="custom-input" placeholder="Enter quantity" />
                        </div>
                        <div class="col-md-6">
                            <label>Task Quantity:</label>
                            <input type="number" class="custom-input" placeholder="Enter quantity" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Task Quality:</label>
                            <input type="text" class="custom-input" placeholder="Enter quality" />
                        </div>
                        <div class="col-md-6">
                            <label>Cost:</label>
                            <input type="text" class="custom-input" placeholder="Enter quality" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Start Date:</label>
                            <input type="date" class="custom-input" [(ngModel)]="startDate" name="startDate"
                                (change)="updateEndDateLimit()" />
                        </div>
                        <div class="col-md-6">
                            <label>End Date <span style="font-size: 10px;color: red;">(End date cannot be before start
                                    date)</span> :</label>
                            <input type="date" class="custom-input" [(ngModel)]="endDate" name="endDate"
                                [min]="minEndDate" (change)="calculateNumberOfDays()" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Number of Dates:</label>
                            <input type="text" class="custom-input" [(ngModel)]="numberOfDaysText"
                                name="numberOfDaysText" readonly />
                        </div>
                        <div class="col-md-6">
                            <label>Assigned By:</label>
                            <input type="text" class="custom-input" placeholder="Enter name" />
                        </div>
                    </div>
                    <button class="submit-btn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create</button>
                </div>
            </div>
        </div>

        <div *ngIf="selectedModule === 'Marketing Calender'" class="container card-margin">
            <div class="card shadow">
                <div class="heading-card">
                    <label>Marketing Calender (Online & Offline Activites)</label>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Task Name:</label>
                            <input type="text" class="custom-input" placeholder="Enter quantity" />
                        </div>
                        <div class="col-md-6">
                            <label>Task Quantity:</label>
                            <input type="number" class="custom-input" placeholder="Enter quantity" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Task Quality:</label>
                            <input type="text" class="custom-input" placeholder="Enter quality" />
                        </div>
                        <div class="col-md-6">
                            <label>Cost:</label>
                            <input type="text" class="custom-input" placeholder="Enter quality" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Start Date:</label>
                            <input type="date" class="custom-input" [(ngModel)]="startDate" name="startDate"
                                (change)="updateEndDateLimit()" />
                        </div>
                        <div class="col-md-6">
                            <label>End Date <span style="font-size: 10px;color: red;">(End date cannot be before start
                                    date)</span> :</label>
                            <input type="date" class="custom-input" [(ngModel)]="endDate" name="endDate"
                                [min]="minEndDate" (change)="calculateNumberOfDays()" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Number of Dates:</label>
                            <input type="text" class="custom-input" [(ngModel)]="numberOfDaysText"
                                name="numberOfDaysText" readonly />
                        </div>
                        <div class="col-md-6">
                            <label>Assigned By:</label>
                            <input type="text" class="custom-input" placeholder="Enter name" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Frequency:</label>
                            <input type="text" class="custom-input" placeholder="Enter number of dates" />
                        </div>
                        <div class="col-md-6">
                            <label for="modeSelect">Select Mode</label>
                            <select id="modeSelect" class="custom-input">
                                <option value="">Select a Mode</option>
                                <option>Online</option>
                                <option>Offline</option>
                            </select>
                        </div>
                    </div>
                    <button class="submit-btn"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create</button>
                </div>
            </div>
        </div>
    </div>
</div>