.card-margin {
    margin-top: 3%;
}

.custom-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.custom-input:focus {
    border-color: #5e1080;
    outline: none;
    box-shadow: 0 0 5px rgba(93, 18, 133, 0.679);
}

.custom-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

label{
    font-family: 'Open Sans', sans-serif;
}

.heading-card{
    background-color: rebeccapurple;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 3%;
    text-align: center;
    font-size: 20px;
}

.mob-res{
    margin-top: 5%;
}

@media screen and (max-width: 768px) {
    .mob-res{
        margin-top: 20%;
    }
}

.alert-card {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background-color: #28a745; /* Green background for success */
    color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Make sure it appears above other elements */
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .alert-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  