body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.back-btn {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    letter-spacing: 2px;
}

.back-btn:hover {
    background-color: white;
    color: #181818;
    border: #000000 1px solid;
}

.submit-btn {
    width: 10%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5e1080;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
    text-align: center;
    letter-spacing: 2px;
}

.submit-btn:hover {
    background-color: white;
    color: #181818;
    border:#5e1080 1px solid;
}

.content {
    margin-left: 250px;
    transition: margin-left 0.5s;
    display: flex;
    padding: 20px;
    height: 100vh;
    background-color: #f0f0f0;
}

.full-width {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: 0;
        transition: margin-left 0.5s;
    }
}
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
